root = true     # informa que este eh o arquivo de configuracao principal: 'raiz' => p/ casos onde tem mais de um arquivo

[*]     # regras p/ todos os tipos de arquivos
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
